/* GENERAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* BUTTON STYLE */
button{
    border: none;
    background: dodgerblue;
    color: white;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 20px;
    margin: 2rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    animation: float 300ms infinite alternate;
    background-color: rgb(79, 167, 255);   
}

@keyframes float {
    to{
        transform: translateY(-10%);
    }   
}

button:active{
    transform: scale(0.9);
}